<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom fixed-top">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">__adole__</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="https://www.instagram.com/__adole__/" class="nav-link" target='blank'>instagram</a></li>
        <li class="nav-item"><a href="https://twitter.com/__adole__" class="nav-link" target='blank'>Twitter</a></li>
        <li class="nav-item"><a href="https://www.deviantart.com/sabz1120" class="nav-link" target='blank'>Deviantart</a></li>
        <li class="nav-item"><a href="https://www.pinterest.com/ichapisabo/__adole__/" class="nav-link" target='blank'>Pinterest</a></li>
      </ul>
    </header>
  </div>